:root {
    --main-color: #7830b3;
    --msg-color: #9a42e2;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #7830b3;
}

/* Grid */

.container {
    height: 100vh;
    flex-direction: column;
    display: flex;
    padding: 0;
}

.column--list {
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow: auto;
    margin: 0;
    background-image: url(./img/doodles.png);
}
  
.column {
    flex-basis: 0;
    height: auto;
}

/* Navbar */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: var(--secondary-color);
    background: var(--main-color);
    text-align: center;
    
}

.title-h1 {
    margin: 0;
    font-size: 20px;
}