:root {
    --main-color: #7830b3;
    --msg-color: #9a42e2;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #7830b3;
}

/* Grid */

.container {
    height: 100vh;
    flex-direction: column;
    display: flex;
    padding: 0;
}

.column--list {
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow: auto;
    margin: 0;
    background-image: url(./img/doodles.png);
}
  
.column {
    flex-basis: 0;
    height: auto;
}

/* Navbar */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: var(--secondary-color);
    background: var(--main-color);
    text-align: center;
    
}

.title-h1 {
    margin: 0;
    font-size: 20px;
}

/* Message List and Messages */

.messageList {
    box-sizing: border-box;
    padding: 0 6px 0 6px;
    margin: 0;
    width: 100%;
    word-break: break-all;
    background: transparent;
}

.message  {
    max-width: 320px;
    width: fit-content;
    overflow-wrap: break-word;
    line-height: 20px;
    margin: 15px 0;
}

.message div:nth-child(1) {
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}
.message div:nth-child(2) {
    background: var(--msg-color);
    color: var(--secondary-color);
    padding: 4px 8px;
    border-radius: 8px;
    line-height: 30px;
}

/* Form */

.sendMessage-form {
    background: var(--send-message-form);
    display: flex;
    box-sizing: border-box;
    height: 60px;
    margin-bottom: 0;
}

.sendMessage-form-input {
    max-width: 700px;
    width: 100%;
    margin: 5px auto 5px auto;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    background: white;
    font-size: 20px;
}

.sendMessage-form-input:focus {
    outline-width: 0;
}